/* navbar 1 */
.header{
       background-color: #350a4e;
       position: relative;
}
.head_scbar{
       display: flex;
       justify-content: space-between;
       background-color: #350a4e;
       height: 36px;
       align-items: center;
}
.sc_link{
       color: var(--white-color);
       font-size: 0.8rem;
       font-family:  'Open Sans', sans-serif;
       margin: 0 11px;
}
.right-site{
       display: flex;
       flex-direction: row;
       color: var(--white-color);
       font-size: 0.8rem;
       font-family:  'Open Sans', sans-serif;
       cursor: pointer;
}
.num{
       color: var(--white-color);
       font-size: 0.8rem;
       margin-right: 34px;
       font-family:  'Open Sans', sans-serif;
       
}
.login{
       margin: 0 9px;
}
.login::before{
       content: "";
       display: block;
       height: 13px;
       width: 1px;
       background-color: var(--white-color);
       position: absolute;
       right: 108px;
}
.sc_link:hover,
.login:hover,
.register:hover{
       color: #ef8e05;
       animation: fadeIn ease-in-out.2s;
}
                           /* navbar 2 */
.header_nav{
       
       height: 116px;   
}
#navstick{
       z-index: 1000;
       background-color: rgba(54, 19, 84, .6);
       width: 1310px;
       
}
                             /* sticky navbar */
            
/* .content {
       padding: 16px;
       height: 9999px;
       width: 300px;
       background-color: red;
       position: absolute;
       top: 1500px;
     } */
     
     
.sticky {
       position: fixed;
       top: 0;
       width: 100%;
}
     
    
.sticky + .content {
       padding-top: 60px;
}
                      /* header navbar */
.head{
       display:flex;
       align-items: center;
       justify-content: space-between;
       height: 116px;
       
}
.nav_list{
       display: flex;
       flex-direction: row;
       position: absolute;
       top: -7px;
       left: -328px;
}
.nav-item{
       font-family:  'Open Sans', sans-serif;
       font-size: 14px;
       color: var(--white-color);
       text-decoration: none;
       margin: 0 18px;
       font-weight: 540;    
}
.nav-item--home::after{
       display: block;
       content: "";
       position: absolute;
       height: 2px;
       width: 42px;
       background-image: linear-gradient(to right, #fa9e1b, #8d4fff);
       right: 357px;
       top: 22px;
       

}
.HD_nav-item{
       list-style: none;
}
.search{
       font-size: 1.7rem;
       color: var(--white-color);
       cursor: pointer;
}


.logo{
       cursor: pointer;
}
.nav-item:hover{
       border-bottom: 2px solid transparent;
       border-image: linear-gradient(to right, #fa9e1b, #8d4fff);
       border-image-slice: 1;
       padding-bottom: 4px;
       color: var(--white-color);
}
                                   /* background */
.home_bg{
       position: absolute;
       z-index: -100;
       width: 100%;
       height: 100vh;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)),url(https://tranhoangkhang1212.github.io/travelix/assets/images/bg_header.webp);
}

.text_ct1{
       color: var(--white-color);
       font-size: 120px;
       font-weight: 900;
       font-family:  'Open Sans', sans-serif;
       position: absolute;
       top: 125px;
       left: 319px;
       z-index: -99;
}
.text_ct2{
       color: var(--white-color);
       font-size: 100px;
       font-weight: 900;
       font-family: 'Dancing Script', cursive;
       position: absolute;
       top: 262px;
       left: 463px;
       z-index: -99;
}
.btnex{
       height: 56px;
       width: 225px;
       text-decoration: none;
       background-size: 200%;
       transition: 0.6s;
       border-radius: 30;
       font-size: 13px;
       font-weight: 700;
       border-radius: 30px;
       border: none;
       color: var(--white-color);
       position: absolute;
       top: 469px;
       right: 551px;
}
.btn1{
       background-image:linear-gradient(to left, #fa9e1b, #8d4fff,#fa9e1b) ;
}
.btnex:hover{
       background-position: right;
}
.btn1 span{
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 2px;
}
.btn1 span:nth-child(2){
       opacity: .6;
}
.btn1 span:last-child{
       opacity: .3;
}
                                     /* body navbar */
.body_nav{
       background-color:var(--white-color);
       height: 94px;
       width: 1200px;
       font-size: 16px;
       position: absolute;
       top:570px;
       left:54px ;
       border-top-left-radius: 94px;  
       border-top-right-radius: 94px; 
      
       
}
.row_list{
       height: 94px;
       width: 1200px;
       display: flex;
       justify-content: space-between;
       align-items: center;
        
}
.nav_slt{
    height: 100%;
    background-color: var(--white-color);
    transition: all .3s ease;
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    

}
.body_nav-icon{
       margin-right: 10px;
}
.d-flex{
       align-items: center;
}
.nav_slt:first-child{
       border-top-left-radius: 94px;  
}
.nav_slt:last-child{
       border-top-right-radius: 94px; 
}
.nav_slt:hover{
       background-color: #fa9e1b;
       color: var(--white-color);
}
.nav_slt:hover img{
       filter: brightness(200%) grayscale(100%);
}
                               /* body search */
.body_search{
       height: 191px;
       width: 100%;
       position: relative;
       top: 628px;
       background-image: linear-gradient(to right, #fa9e1b, #8d4fff);
}
.body_search .row--search{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100%;
       color: var(--white-color);
       font-size: 13px;
       font-weight: 600;
       flex-wrap: wrap;
}
.row--search{
       position: absolute;
       left: 51px;
       width: 1200px;
}

.search_containt--item {
       padding-right: 15px;
       
}
.search_containt--item span{
       margin-bottom: 15px;
       display: block;
}
.search_containt--item input,
.search_containt--item select{
       height: 46px;
       border: none;
       outline: none;
       width: 100%;
       font-size: 13px;
       font-weight: 600;
       color: #929191;
       padding: 15px;
}
.firt-item{
       flex-grow: 2;
}
.sl-item{
       width: 102px;
}
.search_containt--btn {
      height: 53px;
      background-color:#31124b;
      display: flex !important;
      justify-content: center;
      align-items: center;
      border-radius: 53px;
      line-height: 53px;
      margin-top: 30px;
      cursor: pointer;
      flex-grow: 1;
      /* margin-bottom: 10px;      */
}
.search_containt--btn a{
       text-decoration: none;
       color: var(--white-color);
       margin-right: 10px;
       
}
.search_containt--btn span{
    display: inline-block;
    width: 5.75px;
    height: 5.63px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px;
    margin-top: 1%;
   
}
.search_containt--btn span:nth-child(3){
       opacity: .6;
}
.search_containt--btn span:last-child{
       opacity: .3;
}
.search_containt--btn:hover{
       opacity: 0.6;
       animation: fade ease-in 0.2s;
}
.search_containt--btn a:hover{
       color: var(--white-color);
       
}
                                /* tour content */
.tour{
       position: relative;
       top: 708px;
       /* height: 9999px; */
       
}
.tour_container-content h2{
       font-weight: 700;
       color: #2d2c2c;
       font-size: 36px;
       margin-bottom: 30px;
       text-align: center;
      
}
.tour_container-content p{
       font-size: 24px;
       font-style: italic;
       color: #929191;
       line-height: 1.336;
       margin-bottom: 50px;
       text-align: center;
}
                      /* tour item  */

.row--tour{
       height: 425px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 26px;
       
}
.col_tour-item{
       height: 100%;
       width: 100%;
       position: relative;
}
.tour-bg{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       z-index: 1;
}
.overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 2;
       background: rgba(49, 18, 75, .55);
}
                                        /* tour option */
.tour-date{
       color: blanchedalmond;
       font-size: 13px;
       background-color: #fa9e1b;
       border-radius: 14px;
       position: absolute;
       top: 223px;
       z-index: 3;
       width: auto;
       padding: 0 39px;
       line-height: 27px;
       font-weight: 400;
       left:152px;
}
.tour-date-2{
       color: blanchedalmond;
       font-size: 13px;
       background-color: #fa9e1b;
       border-radius: 14px;
       position: absolute;
       top: 223px;
       z-index: 3;
       width: auto;
       padding: 0 39px;
       line-height: 27px;
       font-weight: 400;
       left:556px;
}
.tour-date-3{
       color: blanchedalmond;
       font-size: 13px;
       background-color: #fa9e1b;
       border-radius: 14px;
       position: absolute;
       top: 223px;
       z-index: 3;
       width: auto;
       padding: 0 39px;
       line-height: 27px;
       font-weight: 400;
       left:971px;
}
.tour_center-item{
       position: relative;
       z-index: 3;
       top:-276px;
       color: var(--white-color);
       text-align: center;
       font-size: 15px;
}
.tour_center-item h1{
       font-size: 59px;
}
.rating-item i{
       font-size: 18px;
       padding-top: 10px;
       padding-left: 3px;
}
.rating-item i:first-child{
       color: #ffeb8d;
}
.rating-item i:nth-child(2){
       color: #fed46b;
}
.rating-item i:nth-child(3){
       color: #fbb53d;
}
.rating-item i:nth-child(4){
       color: #fa9e1b;
}
.tour-btn{
       position: absolute;
       left:83px;
       top:202px;
       
}
.tour-btn a{
       text-decoration: none;
       color: var(--white-color);
       text-align: center;
       font-weight: 700;
       font-size: 13px;
       display: inline-block;
       line-height: 53px;
       
}
.tour-btn-cl span{
       display: inline-block;
       vertical-align: middle;
       width: 5.75px;
       height: 5.63px;
       background: #fff;
       border-radius: 50%;
       margin-right: 2px;
       margin-top: -2px;
       
}
.tour-btn-cl span:first-child{
       margin-left: 10px;
}
.tour-btn-cl span:nth-child(2){
       opacity: 0.6;
}
.tour-btn-cl span:last-child{
       opacity: 0.4;
}
.tour-btn-cl{
       border-radius: 30px;
       height: 56px;
       width: 225px;
       background-image:linear-gradient(to left, #fa9e1b, #8d4fff,#fa9e1b);
       background-size: 200%;
       transition: 0.6s;     
}
.tour-btn-cl:hover{
       background-position: right;
}
.tour-btn a:hover{
       color: var(--white-color);
}
                                       /* package */
.package{
       position: relative;
       height: 675px;
       width: 1310px;
       top:780px;
       background-image: linear-gradient(to right, #fa9e1b, #8d4fff);
       
}
.package_background{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       z-index: 1;
       opacity: .27;
}
.package_containt-item{
       height: 470px;
       background-color: var(--white-color);
       position: absolute;
       width: 986px;
       top: 148px;
       left: 170px;
       z-index: 3;
}
.package-item{
       text-align: center;
       margin-top: 70px;
       

}
.package-item h2{
       font-size:32px;
       font-weight: 700;
}
.package-item p{
       font-weight: 600;
       line-height: 2.29;
       margin-top: 14px;
       font-size: 16px;
}
.package-item i{
       font-size: 20px;
       padding-left: 4px;
       
}
.package-item  i:first-child{
       color: #ffeb8d;
       
}
.package-item  i:nth-child(2){
       color: #fed46b;
}
.package-item  i:nth-child(3){
       color: #fbb53d;
}
.package-item  i:nth-child(4){
       color: #fa9e1b;
}
.package-item i:last-child{
       opacity: .4;
}
.package-btn{
       border-radius: 30px;
       height: 56px;
       width: 225px;
       background-image:linear-gradient(to left, #fa9e1b, #8d4fff,#fa9e1b);
       background-size: 200%;
       transition: 0.6s; 
       text-align: center;
       position: absolute;
       left: 386px;
       top:346px;
}
.package-btn:hover{
       background-position: right;
}
.package-btn a{
       text-decoration: none;
       color: var(--white-color);
       text-align: center;
       font-weight: 700;
       font-size: 13px;
       display: inline-block;
       line-height: 53px;
}
.package-btn a:hover{
       color: var(--white-color);
}
.package-btn span{
       display: inline-block;
       vertical-align: middle;
       width: 5.75px;
       height: 5.63px;
       background: #fff;
       border-radius: 50%;
       margin-right: 2px;
       margin-top: -2px;
}
.package-btn span:nth-child(2){
       opacity: 0.6;
}
.package-btn span:last-child{
       opacity: 0.3;
}
                                      /* offers containt */
.offers{
       height: 976.34px;
       width: 100%;
       background-color: #f3f6f9;
       position: relative;
       top:781px ;
       text-align: center;
}
.offers_containt-item{
       height: 755.43px;
       width: 1000px;
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows: 50% 50%;
       position: absolute;
       left: 50%;
       transform: translate(-50%);
       top:130px; 
       grid-gap: 40px 40px;    
}
.offers_containt h2{
       margin-top: 100px;
       font-size: 35px;
       font-weight: 700;
}
.offers_item{
       background-position: bottom;
       display: flex;
       position: relative;

}
.offer_item-bg{
       width: 50%;
       height: 307.71px;
       background-size: cover;
       background-repeat: no-repeat;
       margin-top: 70px;    
}
.offer_item-contents{
       width: 50%;
       height:307.71px ;
       margin-top: 70px;
       text-align: start;
       padding-left:20px ;
}
.offer_item-icon img{
       padding-right: 15px;    
}
.offer_item-name{
       position: absolute;
       top: 300px;
       height: 33px;
       width: 180px;
       background-color: #fa9e1b;
       text-align: center;
       transition: all 0.4s;
}
.offer_item-name a{
       color: var(--white-color);
       text-decoration: none;
       padding-right: 16px;
       font-size: 16px;
       font-weight: 700;
       display: block;
       line-height: 35px;
       transition: all 0.4s;
}
.offer_item-name a:hover,
.offer_item-name:hover{
       color: var(--white-color);
       opacity: 0.8;
}
.offer_item-contents span:first-child{
       font-size: 36px;
       font-weight: 700;
       color: #eda84a;
       display: inline-block;
}
.offer_item-contents span:nth-child(2){
       font-size: 16px;
       padding-left: 16px;
       font-weight: 400;
       opacity: 0.6;
       
}
.offer_item-rating i{
       font-size: 15px;
       padding-left: 4px;
       
}
.offer_item-rating  i:first-child{
       color: #ffeb8d;
       
}
.offer_item-rating  i:nth-child(2){
       color: #fed46b;
}
.offer_item-rating  i:nth-child(3){
       color: #fbb53d;
}
.offer_item-rating  i:nth-child(4){
       color: #fa9e1b;
}
.offer_item-rating i:last-child{
       opacity: .4;
}
.offer_item-contents p{
       font-size: 16px;
       font-weight: 400;
       opacity: 0.6;
}
.offer_item-contents a{
       text-decoration: none;
       font-size: 14px;
       color:var(--black-color);
       font-weight: 700;
       margin-top: 81px;
       display: block;
       transition: all 0.4s ;
}
.offer_item-contents a:hover{
       color:#eda84a;
}
                               /* review containts */
.review{
       position: absolute;
       height: 850px;
       width: 100%;
       top:3371px;
       text-align: center;
}
.review_containt-item h2{
       margin-top: 100px;
       display: block;
       font-weight: 650;
       font-size: 28px;
       opacity: 0.9;
}
.review_containt-card{
       display: flex;
       height: 575px;
       width: 100%;
       justify-content: space-between;
       margin-top: 100px;
       position: relative;
}
.review-item img{
       height: 531px;
       width: 384px;
}
.review-icon{
       background-color: #fa9e1b;
       height: 60px;
       width: 60px;
       border-radius: 50%;
       position: absolute;
       top: -28px;
       margin-left: 40px;
       cursor: pointer;
       transition: 0.4s;
}
.review-icon:hover{
       filter: brightness(120%);
}
.review-icon img{
       display: inline-block;
       margin-top: 11px;
       height: 35px;
       width: 35px; 
       
}
.review-content{
       height: 250px;
       width: 384px;
       background-color: #31124b;
       position: absolute;
       top:287px;
       opacity: 0.8;
       color: var(--white-color);
       text-align: start;
}
.review-text{
       width: 100%;
       height: 100%;
       padding-left: 38px;
       padding-top: 44px;padding-right: 40px;}
.review-content span{
       font-size: 20px;
}
.review-content p{
       font-size: 15px;
}
.review-name{
       position: absolute;
       top:253px;
       margin-left: 40px;
       height: 57px;
       width: 135px;
       background-color: whitesmoke;
       z-index: 3;
      
       
}
.review-name span{
       display: block;
       font-weight: 800;
       margin-top: 10px;
}
.review-name p{
       font-size: 12px;
       display: block;
       margin-right: 13px;
}
.review::after{
       content: "";
       display: block;
       background-image:linear-gradient(to right, #fa9e1b, #8d4fff);
       width: 100%;
       height: 2px;
       position: absolute;
       bottom: 0px;
}
                            /* trending containt */
.trending{
       height: 400px;
       width: 100%;
       position: absolute;
       top:4221px;
       text-align: center;
}
.trending h2{
       display: block;
       margin-top: 70px;
       font-size: 30px;
       font-weight: 700;
}
.trending_table-item{
       height: 251.98px;
       width: 1100px;
       margin-top: 10px;
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       grid-template-rows: 50% 50%;
       position: absolute;
       left: 50%;
       transform: translate(-50%);
       
}
.trending_table-card{
       position: relative;
}
.trending_table-card img:hover{
       transform: scale(1.1) rotate(5deg);
}
.table-img{
       height: 76px;
       width: 83px;
       position: absolute;
       bottom: 0;
       display: block;
       overflow: hidden;
}
.table-img img{
       display: block;
       transition: all 0.4s ease-out;
       border-radius: 3px;    
}

.card-content{
       height: 76px;
       width: 100px;
       position: absolute;
       bottom: 0;
       left: 94px;
       text-align: left;
}
.card-content span:first-child{
       color:var(--black-color);
       font-size: 14px;
       font-weight: 660;
       transition: 0.6s;
       cursor: pointer;
}
.card-content span:first-child:hover{
       color:#fa9e1b ;
}
.card-content span:nth-child(2){
       color: #fa9e1b;
       font-weight: 700;
       font-size: 13px;
}
.card-content span:last-child{
       font-size: 13px;
       font-weight: 500;
       opacity: 0.8;
}
                                  /* contact containt */
.contact{
       position: absolute;
       height: 603px;
       width: 100%;
       top: 5000px;
}
.contact_containt{
       background-image: url(https://tranhoangkhang1212.github.io/travelix/assets/images/xcontact.png.pagespeed.ic.qi--ZwSUbp.webp);
       height: 606px;
       width: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-position-x: -130px;
}

.contact_containt-item{
       position: relative;
       height: 585px;
       width: 691px;
       background-image:linear-gradient(to right, #fa9e1b, #8d4fff);
       right:-518px;
       top:-7px;
       border-radius: 7px;
}
.contact_containt-form{
       position: relative;
       padding: 74px 48px 88px 48px;
       border-radius: 7px;
       
}
.contact-form{
       padding-top: 50px;
       display:grid;
       grid-template-rows: 40px 50px 150px;
       grid-template-columns: 50% 50%;
       grid-row-gap: 10px;
       grid-column-gap: 20px;
       padding-right: 40px;
}
::placeholder{
       color: var(--white-color);
       vertical-align: top;
}
.Fname{
       border: none;
       border-bottom: 1px solid var(--white-color);
       background: none;
       color: var(--white-color);
       outline: none;
}
.Fmail{
       border: none;
       border-bottom: 1px solid var(--white-color);
       background: none;
       color: var(--white-color);
       outline: none;
}
.Fsubject{
       grid-column: 1/4;
       border: none;
       border-bottom: 1px solid var(--white-color);
       background: none;
       color: var(--white-color);
       outline: none;
}
.Fmess{
       grid-column: 1/4;
       border: none;
       border-bottom: 1px solid var(--white-color);
       background: none;
       color: var(--white-color);
       outline: none;
}
.contact-btn{
       background-color: #31124b;
       width: 170px;
       height: 45px;
       margin-top: 40px;
       border-radius: 30px;     
}
.contact-btn:hover{
       opacity: 0.7;
       transition: 0.3s;
}
.contact-btn a{
       text-align: center;
       text-decoration: none;
       color: var(--white-color);
       font-size: 13px;
       font-weight: 600;
       display: block;
       text-align: center;
       padding-top: 10px;
}
.contact-btn a:hover{
       color: var(--white-color);
}
.contact-btn span{
       display: inline-block;
       vertical-align: middle;
       width: 5.75px;
       height: 5.63px;
       background: #fff;
       border-radius: 50%;
       margin-right: 2px;
       margin-top: -2px;
}
.contact-btn span:nth-child(2){
       opacity: 0.6;
}
.contact-btn span:last-child{
       opacity: 0.3;
}
                             /* footer containt */
.footer{
       position: absolute;
       top:5581px;
       height: 472px;
       width: 100%;
       background-color:#31124b ;
       z-index: -2;
}

.footer_containt-item{
       top:45px;
       position: relative;
       height: 360px;
       width: 1200px;
       display: grid;
       place-items: center;
       grid-template-columns: 1fr 1fr 1fr 1fr;
}
.travel{
       position: relative;
       width: 100%;
       height: 100%;
}

.intro p{
       position: absolute;
       top:145px;
       left: 34px;
       display: block;
       color:var(--white-color);
       font-size: 13px;
       font-weight: 600;
       line-height: 30px;
       
       
}
.fticon{
       width: 100%;
       position: absolute;
       top: 283px;
       left: 34px;
       
}

.fticon i{
       font-size: 13px;
       padding-top: 8px;
       padding-left: 9px;
       color: var(--white-color);
}
.fticon li{
       padding-right: 20px;
       width: 30px;
       height: 30px;
       border: 1px solid #fa9e1b;
       align-self: center;
       margin-right: 10px;
       border-radius: 50%;
}
.fticon ul{
       position: absolute;
       left: -20px;
       width: 100%;
       height: 50px;
       display: flex;
       list-style: none;
       flex-direction: row;
      
}





